# macOS
.DS_Store

# Dependencies
node_modules/

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/venv/
backend/.env
backend/__pycache__/

# Python
*.pyc
__pycache__/

# VS Code
.vscode/